.hero-container {
  text-align: center;
  padding: 10px;

  .banner-title {
    font-size: 2rem;
    color: #333;
    margin: 10px 0;
  }

  .banner-description {
    font-size: 1.2rem;
    color: #555;
    max-width: 500px;
    margin: 0 auto;
  }
}
