@import './_variables.scss';
@import './_mixins.scss';
@import './_layout.scss';
@import './_buttons.scss';

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, $pink, $turquoise);
  color: $dark-gray;
  text-align: center;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;

  .step-container {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
}

.buy-button-container {
  margin-bottom: 2rem; /* Ensures space above the footer */
}
footer {
  position: relative; /* Prevents overlapping content */
}
